@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
.background {
  background-color: rgb(182, 227, 255);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  width: 95%;
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.background-card {
  background-color: white;
  position: relative;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: ; */
  margin: 75px 0px 100px 0px;
  /* height: 100%; */
}
.background-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 5px solid steelblue;
  border-radius: 10px;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 15px 10px 0px 10px;
}
